@page "/attendee-edit/{id:int}"
@inject IAttendeeService AttendeeService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<h1>Edit attendee</h1>
<hr />

<EditForm Model="attendee" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="FirstName">First name</label>
        <InputText id="FirstName" @bind-Value="attendee.FirstName" class="form-control"></InputText>
    </div>
    <div class="mb-3">
        <label for="LastName">Last name</label>
        <InputText id="LastName" @bind-Value="attendee.LastName" class="form-control"></InputText>
    </div>
    <div class="mb-3">
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value="attendee.Email" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>

</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    Attendee attendee = new Attendee();

    protected override async Task OnParametersSetAsync()
    {
        attendee = await AttendeeService.GetAttendeeById(Id);
    }

    private async void HandleSubmit()
    {
        await AttendeeService.UpdateAttendee(Id, attendee);
        ToastService.ShowSuccess("Attendee was succesfully updated!");
        NavigationManager.NavigateTo($"/course-edit/{attendee.CourseId}");
    }
}
